<nav class="navbar">
  <div class="logo">
    <span> ExpresoFast</span>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/envios" routerLinkActive="active">Dashboard de Envíos</a></li>
    <li><a routerLink="/nuevo-envio" routerLinkActive="active">Registrar Envío</a></li>
    <li><a routerLink="/envio-avanzado" routerLinkActive="active">Registro avanzado</a></li>
    <li><a routerLink="/rastreo" routerLinkActive="active">Rastrear Guía</a></li>
  </ul>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
